.noActiveScore {
  color: white;
}

.previousAnswerCorrect {
  color: green;
}

.previousAnswerWrong {
  color: red;
}

#feedbackDiv {
  width: 50%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#feedbackDiv  div {

}

#scoreAndTimer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#resultsContainer{
display: hidden
}