.noActiveScore {
  color: white;
}

.previousAnswerCorrect {
  color: green;
}

.previousAnswerWrong {
  color: red;
}

#feedbackDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* #feedbackDiv div {

} */

#scoreAndTimer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#resultsContainer{
display: none;
width: 90vw;
justify-content: center;
align-content: center;
align-items: center;
position: absolute;
left: 50%;
transform: translate(-50%);
max-width: 900px
}